<!doctype html>
<html lang=”en”>
<head>
  <style>
  html {
   zoom: 0.65;
    }
  </style>
  <meta charset=”UTF-8”>
  <title>Andalin Invoice</title>
</head>
<body>
  <div>
    <img alt="andalin logo" src={{andalinLogo}} width="176" height="50"/>
  </div>
  <div style="width : 100%; text-align : center; font-family : arial; font-size:18px;">
    <strong> {{statusInvoice}} INVOICE </strong>
  </diV>
  <br/>
  <br/>
  <!-- table invoice header -->
  <table style="width : 100%; font-size : 11px; font-family : arial;" frame="box">
  <tr>
    <td style="width : 30%;"><strong>{{companyName}}</strong></td>
    <td style="width : 30%;"><strong>{{shipperName}}</strong></td>
    <td style="width : 20%;"><strong> No. Order </strong></td>
    <td style="width : 20%;">{{shipmentOrderNumber}}</td>
  </tr>
  <tr>
    <td style="width : 30%;"><strong>NPWP : {{companyNPWP}}</strong></td>
    <td style="width : 30%;">{{shipperAddress}}</td>
    <td style="width : 20%;"><strong>No. invoice</strong></td>
    <td style="width : 20%;">{{invoiceNumber}}</td>
  </tr>
  <tr>
    <td style="width : 30%;"></td>
    <td style="width : 30%;"></td>
    <td style="width : 20%;"><strong> No BL/ AWB </strong></td>
    <td style="width : 20%;">{{shipmentBlAwb}}</td>
  </tr>
  <tr>
    <td style="width : 30%;">{{companyPlace}}</td>
    <td style="width : 30%;"></td>
    <td style="width : 20%;"><strong> Tanggal Pengiriman </strong></td>
    <td style="width : 20%;">{{shipmentDate}}</td>
  </tr>
  <tr>
    <td style="width : 30%;">{{companyStreet}}</td>
    <td style="width : 30%;">{{shipperPhone}}</td>
    <td style="width : 20%;"><strong> Tanggal Invoice </strong></td>
    <td style="width : 20%;">{{invoiceDate}}</td>
  </tr>
  <tr>
    <td style="width : 30%;">{{companyDistrict}} {{companyCity}}</td>
    <td style="width : 30%;">{{shipperEmail}}</td>
    <td style="width : 20%;"><strong> Tanggal Jatuh Tempo </strong></td>
    <td style="width : 20%;">{{invoiceDueDate}}</td>
  </tr>

</table>

  <!-- table order info
  <br/>
  <table style="width : 100%; font-size : 11px; font-family:arial">
    <thead>
      <tr>
        <th colspan="2" style="width : 20%"> Asal </th>
        <th colspan="2" style="width : 20%"> Tujuan </th>
        <th colspan="2" style="width : 30%"> Angkutan </th>
        <th colspan="2" style="width : 30%"> Keterangan </th>
    </thead>
    <tbody>
      <tr>
        <td style="width : 10%"><strong>Kota : </strong></td>
        <td style="width : 10%">{{shipmentOriginCity}}</td>
        <td style="width : 10%"><strong>Kota : </strong></td>
        <td style="width : 10%">{{shipmentDestinationCity}}</td>
        <td style="width : 10%"><strong>Jenis : </strong></td>
        <td style="width : 20%">{{shipmentFreightType}}</td>
        <td style="width : 20%"><strong>Kustom : </strong></td>
        <td style="width : 10%">{{shipmentCustom}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Negara : </strong></td>
        <td style="width : 10%">{{shipmentOriginCountry}}</td>
        <td style="width : 10%"><strong>Negara : </strong></td>
        <td style="width : 10%">{{shipmentDestinationCountry}}</td>
        <td style="width : 10%"><strong>Jalur : </strong></td>
        <td style="width : 20%">{{shipmentFreightMode}}</td>
        <td style="width : 20%"><strong>Jasa Truk : </strong></td>
        <td style="width : 10%">{{shipmentTrucking}}</td>
      </tr>
      <tr>
        <td style="width : 10%"></td>
        <td style="width : 10%"></td>
        <td style="width : 10%"></td>
        <td style="width : 10%"></td>
        <td style="width : 10%"><strong>Pengangkut : </strong></td>
        <td style="width : 20%">{{shipmentCarrierName}}</td>
        <td style="width : 20%"><strong>Asuransi : </strong></td>
        <td style="width : 10%">{{shipmentInsurance}}</td>
      </tr>
      <tr>
        <td style="width : 10%"></td>
        <td style="width : 10%"></td>
        <td style="width : 10%"></td>
        <td style="width : 10%"></td>
        <td style="width : 10%"><strong>#BL/AWB : </strong></td>
        <td style="width : 20%">{{shipmentBlAwb}}</td>
        <td style="width : 20%"></td>
        <td style="width : 10%"></td>
      </tr>
    </tbody>
  </table>
-->
  <br/>
  <!-- table shipper info and commodities -->
  <table style="width : 100%; font-size : 11px; font-family:arial" frame="box">
    <thead>
      <tr>
        <th colspan="3" style="width : 50%">Pengirim</th>
        <th colspan="3" style="width : 50%">Penerima</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width : 10%"><strong>Perusahaan</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentShipperCompany}}</td>
        <td style="width : 10%"><strong> Perusahaan</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentConsigneeCompany}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Nama</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentShipperName}}</td>
        <td style="width : 10%"><strong>Nama</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentConsigneeName}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Alamat</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentShipperAddress}}</td>
        <td style="width : 10%"><strong>Alamat</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentConsigneeAddress}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Telp</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentShipperPhone}}</td>
        <td style="width : 10%"><strong>Telp</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentConsigneePhone}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Fax</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentShipperFax}}</td>
        <td style="width : 10%"><strong>Fax</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentConsigneeFax}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Email</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentShipperEmail}}</td>
        <td style="width : 10%"><strong>Email</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 35%">{{shipmentConsigneeEmail}}</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <table style="width : 100%; font-size : 11px; font-family:arial" frame="box">
    <tbody>
      <tr>
        <td style="width : 10%"><strong>Komoditas</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 85%">{{shipmentCommoditiesClass}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Tipe</strong></td>
        <td style="width : 2%">:</td>
        <td style="width : 20%">{{shipmentCommoditiesType}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>HS code</strong></td>
        <td style="width: 2%">:</td>
        <td style="width : 20%">{{shipmentCommoditiesHSCode}}</td>
      </tr>
      <tr>
        <td style="width : 10%"><strong>Deskripsi</strong></td>
        <td style="width: 2%">:</td>
        <td style="width : 20%">{{shipmentCommoditiesProduct}}</td>
      </tr>
    </tbody>
  </table>
      <!-- table freight
  <br/>
  <table style="width : 100%; font-size : 11px; font-family:arial; text-align:center;">
  <thead>
    <tr>
      <th style="width : 15%">Tipe</th>
      <th style="width : 25%">Nomor Lacak</th>
      <th style="width : 15%">Jumlah</th>
      <th style="width : 15%">Volume</th>
      <th style="width : 15%">Berat</th>
      <th style="width : 15%">Info</th>
    </tr>
  </thead>
  <tbody>
    {{#freights}}
    <tr>
      <td style="width : 15%">{{serviceType}}</td>
      <td style="width : 25%">{{trackingNumber}}</td>
      <td style="width : 15%">{{qty}}</td>
      <td style="width : 15%">{{volume}}</td>
      <td style="width : 15%">{{weight}}</td>
      <td style="width : 15%">{{additionalInfo}}</td>
    </tr>
    {{/freights}}
  </tbody>
  </table>
-->
  <br/>
  <!-- table price -->
  <table style="width : 100%; font-size : 11px; font-family : arial; text-align:center;" frame="box">
    <thead>
      <tr>
        <th>Komponen</th>
        <!--
        <th>Layanan</th>
        <th>Kode Harga</th>
        -->
        <th>Deskripsi</th>
        <th style="width : 8%">Jumlah</th>
        <!--
        <th style="width : 10%">Berat</th>
        <th style="width : 10%">Volume</th>
        -->
        <th style="width : 10%">Unit</th>
        <th>Total Harga</th>
      </tr>
    </thead>
    <tbody>
      {{#prices}}
      <tr>
        <td>{{componentType}} : {{componentCityCode}}</td>
        <!--
        <td>{{serviceType}}</td>
        <td>{{priceCode}}</td>
        -->
        <td>{{priceDesc}}</td>
        <td style="width : 8%">{{qty}}</td>
        <!--
        <td style="width : 10%">{{weight}}</td>
        <td style="width : 10%">{{volume}}</td>
        -->
        <td style="width : 10%">{{priceUOM}}</td>
        <td style="text-align:left;">{{bookPriceCurrencyCode}} {{bookPriceSum}}</td>
      </tr>
      {{/prices}}
    </tbody>
  </table>
  {{#showInsurance}}
    <br/>
    <!-- table asuransi -->
  <table style="width : 100%; font-size : 11px; font-family : arial; text-align : center;" frame="box">
    <thead>
      <tr>
        <th style="width : 30%">Nilai Barang</th>
        <th style="width : 20%">Kurs</th>
        <th style="width : 20%">%Premi Asuransi</th>
        <th style="width : 30%">Total Premi Asuransi</th>
      </tr>
    </thead>
    <tbody>
      {{#insurance}}
      <tr>
        <td style="width : 30%">{{goodsValueCurrency}} {{goodsValue}}</td>
        <td style="width : 20%">{{priceCurrencyCode}} / {{goodsValueCurrency}} {{priceCurrencyRate}}</td>
        <td style="width : 20%">{{pcg}}</td>
        <td style="width : 30%">{{priceCurrencyCode}} {{priceSum}}</td>
      </tr>
      {{/insurance}}
    </tbody>
  </table>
  {{/showInsurance}}
  <br/>
  <!-- table total -->
  <table style="width : 100%; font-size : 12px; font-family : arial"  frame="box">
    <thead>
      <tr>
        <th style="width : 70%; text-align : right;">Deskripsi</th>
        <th style="width : 30%; padding-left : 30px; text-align: left;">Nominal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Angkutan</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{shipmentBookPriceCurrencyCode}} {{totalFreights}}</td>
      </tr>
      {{#showTotalDocument}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Dokumen</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{shipmentBookPriceCurrencyCode}} {{totalDocument}}</td>
      </tr>
      {{/showTotalDocument}}
      {{#showTotalCustom}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Kustom</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{shipmentBookPriceCurrencyCode}} {{totalCustom}}</td>
      </tr>
      {{/showTotalCustom}}
      {{#showTotalTrucking}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Truk</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{shipmentBookPriceCurrencyCode}} {{totalTrucking}}</td>
      </tr>
      {{/showTotalTrucking}}
      {{#showTotalInsurance}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Asuransi</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{shipmentBookPriceCurrencyCode}} {{totalInsurance}}</td>
      </tr>
      {{/showTotalInsurance}}
      {{#isProforma}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Total Sementara</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{shipmentBookPriceCurrencyCode}} {{grossTotal}}</td>
      </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Total Sementara dalam Rupiah</strong></td>
        <td style="width : 30%; padding-left : 30px;">IDR {{grossTotalInvoice}}</td>
      </tr>
      {{#showRate}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Kurs Sementara (IDR/{{shipmentBookPriceCurrencyCode}})</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{rate}}</td>
      </tr>
      {{/showRate}}
      <tr>
          <td style="width : 60%; text-align : right;"><strong>Pajak ({{taxRate}}%)</strong></td>
          <td style="width : 30%; padding-left : 30px;">IDR {{taxTotal}}</td>
      </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Total Sementara yang harus dibayar dalam Rupiah</strong></td>
        <td style="width : 30%; padding-left : 30px;">IDR {{grandTotalPayment}}</td>
      </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Status Invoice</strong></td>
        <td style="width : 30%; padding-left : 30px;">BELUM FINAL</td>
      </tr>
      {{/isProforma}}
      {{^isProforma}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Total</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{shipmentBookPriceCurrencyCode}} {{grossTotal}}</td>
      </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Total dalam IDR</strong></td>
        <td style="width : 30%; padding-left : 30px;">IDR {{grossTotalInvoice}}</td>
      </tr>
      {{#showRate}}
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Kurs (IDR/{{shipmentBookPriceCurrencyCode}})</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{rate}}</td>
      </tr>
      {{/showRate}}
      <tr>
          <td style="width : 60%; text-align : right;"><strong>Pajak ({{taxRate}}%)</strong></td>
          <td style="width : 30%; padding-left : 30px;">IDR {{taxTotal}}</td>
        </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Biaya Total yang harus dibayar dalam Rupiah</strong></td>
        <td style="width : 30%; padding-left : 30px;">IDR {{grandTotalPayment}}</td>
      </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Status Invoice</strong></td>
        <td style="width : 30%; padding-left : 30px;">FINAL</td>
      </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Status Pembayaran</strong></td>
        {{#invoicePaidStatus}}
        <td style="width : 30%; padding-left : 30px;">LUNAS</td>
        {{/invoicePaidStatus}}
        {{^invoicePaidStatus}}
        <td style="width : 30%; padding-left : 30px;">BELUM DIBAYAR</td>
        {{/invoicePaidStatus}}
      </tr>
      <tr>
        <td style="width : 70%; text-align : right;"><strong>Catatan</strong></td>
        <td style="width : 30%; padding-left : 30px;">{{invoiceNote}}</td>
      </tr>
      {{/isProforma}}
    </tbody>
  </table>
  <br/>
  {{^isProforma}}
  <div style="width : 100%; text-align : center; font-family : arial; font-size:14px;">
    <strong> Pembayaran Dapat Dilakukan melalui rekening dibawah ini : </strong>
  </div>
  <br/
  <!-- table bank -->
  <table style="width : 100%; font-size : 11px; font-family:arial" frame="box">
    <thead>
      <tr>
        <td><strong>Cara Bayar</strong></td>
        <td><strong>Nama Bank</strong></td>
        <td><strong>Cabang</strong></td>
        <td><strong>Nama Akun</strong></td>
        <td><strong>No. Rekening</strong></td>
      </tr>
    </thead>
    <tbody>
      {{#banksAndalin}}
      <tr>
        <td>Transfer</td>
        <td>{{bank}}</td>
        <td>{{branch}}</td>
        <td>{{name}}</td>
        <td>{{number}}</td>
      </tr>
      {{/banksAndalin}}
    </tbody>
  </table>
  <br/>
  {{/isProforma}}
  {{#invoicePaidStatus}}
  <div style="width : 100%; text-align : center; font-family : arial; font-size:14px;">
    <strong> Pembayaran Yang Sudah Terkonfirmasi </strong>
  </div>
  <br/>
  <!-- table bank -->
  <table style="width : 100%; font-size : 9px; font-family:arial; bgcolor:'#137B13';" frame="box">
    <thead>
      <tr>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Tgl</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Cara Bayar</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Nomor Referensi</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Bank Asal</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Akun Asal</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>No Rekening Asal</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Bank Tujuan</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Akun Tujuan</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>No Rekening Tujuan</strong></td>
        <td style="width : 10%; bgcolor:'#137B13'"><strong>Total Bayar</strong></td>
      </tr>
    </thead>
    <tbody>
      {{#payments}}
      <tr>
        <td style="width : 10%; bgcolor:'#137B13'">{{paymentDate}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{paymentMethod}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{paymentReferenceNumber}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{shipperBankName}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{shipperBankAccName}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{shipperBankAccNumber}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{andalinBankName}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{andalinBankAccName}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{andalinBankAccNumber}}</td>
        <td style="width : 10%; bgcolor:'#137B13'">{{paymentCurrencyCode}} {{paymentTotal}}</td>
      </tr>
      {{/payments}}
    </tbody>
  </table>
  {{/invoicePaidStatus}}
</body>
